/* default settings */
body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
}
h1 {
  font-family: 'Expletus Sans', cursive;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: 'Vollkorn', serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
h3 {
  font-family: 'Merienda One', cursive;
  font-size: 2rem;
}

/* h1,h2 overwrite for navbar */
a.navbar-brand h1 {
  font-size: 1rem;
}
.navbar h2{
  font-size: 1rem;
}

/* jumbtron overwrite to align center and remove background*/
.jumbotron {
  text-align: center;
  background: none;
}

/* Parallax Scrolling */
.parallax-img {
  background: url("../img/background.png");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


.burmese-welcome {
  font-family: 'Padauk', sans-serif;
  margin: 100px;
  font-size: 8rem;
  font-weight: 900;
  padding: 0;
}

@media screen and (max-width: 680px) {
  .jumbotron h1{
    font-size: 3rem;
  }
  .burmese-welcome {
    font-family: 'Padauk', sans-serif;
    margin: 70px 50px;
    font-size: 3rem;
    font-weight: 900;
  }
}
