/* #################### DEFAULT #################### */
html {
  scroll-behavior: smooth;
}

p {
  padding-top: 25px;
  padding-bottom: 25px;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-size: 18px;
  padding-top: 60px;
}
h1 {
  font-family: 'Expletus Sans', cursive;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  padding: 0;
}
h2 {
  font-family: 'Vollkorn', serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}
h3 {
  font-family: 'Merienda One', cursive;
  font-size: 2rem;
}

/* #################### MEMBERS SECTION STARTS #################### */
.clan-members {
  text-align: center;
  transition: all 0.5s ease 0s;
  margin-bottom: 4rem;
}
.clan-members .member-pics {
  overflow: hidden;
  position: relative;
}
.clan-members:hover {
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
              0 1px 4px rgba(0, 0, 0, 0.3),
              0 0 40px rgba(0, 0, 0, 0.1);
}
.clan-members .member-pics img {
  width: 100%;
  height: auto;
}

.clan-members .member-pics:before,
.clan-members .member-pics:after {
  content: "";
  width: 200%;
  height: 80%;
  position: absolute;
  top: -100%;
  left: -4%;
  transform: rotate(45deg);
  transition: all 0.5s ease 0s;
  background: rgba(16,159,191,0.8);
}
.clan-members .member-pics:after {
  top: auto;
  left: auto;
  bottom: -100%;
  right: -4%;
  background: rgba(226, 178, 3, 0.8);
}
.clan-members:hover .member-pics:before {
  top: 0;
}
.clan-members:hover .member-pics:after {
  bottom: 0;
}

.social-icons {
  width: 100%
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  bottom: 45%;
  right: 27%;
  opacity: 0;
  z-index: 2;
  transition: all 0.4s ease 0s;
}
.social-icons li {
  display: inline-block;
}
.social-icons a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  position: relative;
  margin-right: 10px;
  color: red;
  transition:  all 0.5s ease 0s;
}
.clan-members:hover .social-icons {
  opacity: 1;
}
.social-icons li a:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #e4e4e4;
  border-radius: 0px 20px 20px 20px;
  transition: all 0.3s ease 0s;
}
.social-icons li a:hover:after {
  transform: rotate(180deg);
}

.member-content {
  padding: 20px;
}
.member-content .title{
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.member-content .post{
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: capitalize;
}
/* #################### MEMBERS SECTION ENDS #################### */

/* #################### FONTS START #################### */
a.navbar-brand h1 {
  font-size: 1rem;
}
.navbar h2{
  font-size: 1rem;
}
.burmese-welcome {
  font-family: 'Padauk', sans-serif;
  text-shadow: -2px 2px #e3e3e3 ;
  margin: 100px;
  font-size: 8rem;
  font-weight: 900;
  padding: 0;
}
.gallery-px {
  font-family: 'Merienda One', cursive;
  text-shadow: -2px 2px #3c3c3c;
  color: #e3e3e3;
  margin: 100px;
  font-size: 5rem;
  font-weight: 900;
  padding: 0;
}
article p.intro {
  font-family: 'Titillium Web', sans-serif;
  font-size: 22px;
}
/* #################### FONTS END #################### */

/* #################### PARALLAX START #################### */
.parallax-img {
  background: url("../img/background.png");
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.parallax-img2 {
  background: url("../img/background2.jpg");
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.parallax-img3 {
  background: url("../img/members.jpg");
  background-size: 100% auto;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
/* #################### PARALLAX END #################### */

/* #################### FOOTER STARTS #################### */
.btn-floating .fa {
  font-size: 50px;
  margin: 30px;
}
.fa-facebook-official:hover {
  color: #3b5998;
}
.fa-twitter-square:hover {
  color: #1da1f2;
}
.fa-google-plus-square:hover {
   color: #db4437;
}
.fa-linkedin-square:hover {
  color: #1985bc;
}
.page-footer {
  padding-top: 30px;
}
/* #################### FOOTER ENDS #################### */

/* To solve contents covered by navbar */
.navbar {
  margin-bottom: 80px;
}

/* jumbtron overwrite to align center and remove background*/
.jumbotron {
  text-align: center;
  background: none;
  box-shadow: none;
}

div.profile-img img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 50%;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 1);
}

div.gallery-img img {
  width: 100%;
  height: auto;
}

/* #################### TESTINGS #################### */

.img4-fit img {
  width: 120%;
  height: auto;
}

.galleryimg img {
  box-shadow: 2px 2px 8px #4b4b4b;
}
























/* #################### MEDIA QUERIES #################### */
@media screen and (max-width: 680px) {
  .jumbotron h1{
    font-size: 3rem;
  }
  .burmese-welcome {
    font-family: 'Padauk', sans-serif;
    color: #e3e3e3;
    text-shadow: -2px 2px #323232;
    margin: 30px 50px;
    font-size: 4rem;
  }
  .gallery-px {
    font-family: 'Merienda One', cursive;
    color: #ffa500;
    text-shadow: 0px 2px #323232;
    margin: 30px;
    font-size: 3rem;
  }
  .parallax-img {
    background-size: 100% auto;
    background-attachment: inherit;
  }
  .parallax-img2 {
    background-size: 100% auto;
    background-attachment: inherit;
    background-position: top;
  }
  .parallax-img3 {
    background-size: 100% auto;
    background-attachment: inherit;
    background-position: center;
  }
  .btn-floating .fa {
    font-size: 30px;
    margin: 10px;
  }
}
